{% load app_tags %}
<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <nav class="row">
        <div class="nav-wrapper col s12">
          <a href="{% url 'home' %}" class="brand-logo">
          Компьютеры</a>
          <ul class="right hide-on-med-and-down">
            <li {{request.path|isclass:1}}><a href="{% url 'examples' %}">Примеры</a></li>
            <li {{request.path|isclass:2}}><a href="{% url 'contacts' %}">Контакты</a></li>
            <li {{request.path|isclass:3}}><a href="{% url 'about' %}">О проекте</a></li>
          </ul>
        </div>
    </nav>

  <body>
    {% block first%}

    {% endblock %}

  </body>
</html>